<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}Bound{% endblock %}</title>

        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <link rel="stylesheet" type="text/css" href="{{ asset('bundles/boundfront/css/vendor/bootstrap.min.css') }}" />
        <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
        
        {% block stylesheets %}{% endblock %}
    </head>

    <body ng-app="BoundApp">
        <header>
            <section class="container-fluid">{% block header %}{% endblock %}</section>
        </header>

        <section id="content" class="container-fluid">{% block content %}{% endblock %}</section>

        <footer>
            <section class="container-fluid">{% block footer %}{% endblock %}</section>
        </footer>

        <script src="{{ asset('bundles/boundfront/js/vendor/angular.min.js') }}"></script>
        <script src="{{ asset('bundles/boundfront/js/vendor/angular-route.min.js') }}"></script>
        <script src="{{ asset('bundles/boundfront/js/vendor/angular-resource.min.js') }}"></script>

        <script src="{{ asset('bundles/boundfront/js/app.js') }}"></script>
        {% block javascripts %}{% endblock %}
    </body>
</html>
