{% extends '::base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ asset('public/css/visitor.css') }}" />
{% endblock %}

{% block main %}
    <div class="form-box">
        <div class="container">
            {% if app.request.hasPreviousSession %}
                {% for type, messages in app.session.flashbag.all() %}
                    {% for message in messages %}
                        <div class="alert alert-danger alert-dismissible" role="alert">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endfor %}
            {% endif %}

            {% if error is defined and error %}
                <div class="container">
                    <div class="alert alert-danger alert-dismissible" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>

                        {# <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div> #}
                        {{ error|trans }}
                    </div>
                </div>
            {% endif %}

            {% if form is defined and not form.vars.valid %}
                <div class="container">
                    <div class="alert alert-danger alert-dismissible" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>

                        {{ form_errors(form.username) }}
                        {{ form_errors(form.email) }}
                        {{ form_errors(form.plainPassword) }}
                    </div>
                </div>
            {% endif %}

            <div class="offbox"></div>
            {% block fos_user_content %}
            {% endblock fos_user_content %}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('public/js/vendor/jquery.min.js') }}"></script>
    <script src="{{ asset('public/js/vendor/jquery-smooth-scroll.min.js') }}"></script>
    <script src="{{ asset('public/js/visitor.js') }}"></script>
{% endblock %}
