{% extends '::base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ asset('public/css/visitor.css') }}" />
{% endblock %}

{% block main %}
    <h1> Coucou je suis l'index </h1>
    <a href="{{ path('fos_user_security_login') }}">Connexion</a>
    <a href="{{ path('fos_user_registration_register') }}">Inscription</a>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('public/js/vendor/jquery.min.js') }}"></script>
    <script src="{{ asset('public/js/visitor.js') }}"></script>
{% endblock %}
