<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1">
        <title>{% block title %}Bound{% endblock %}</title>
        <base href="{{ path('bound_front_index') }}">

        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <link rel="stylesheet" type="text/css" href="{{ asset('public/css/vendor/bootstrap.min.css') }}" />
        <link rel="stylesheet" type="text/css" href="{{ asset('public/css/vendor/animate.css') }}" />
        <link rel="stylesheet" type="text/css" href="{{ asset('public/css/vendor/font-awesome.min.css') }}" />

        <link href='https://fonts.googleapis.com/css?family=Roboto:400,100,700,300' rel='stylesheet' type='text/css'>
        {% block stylesheets %}{% endblock %}
    </head>

    <body ng-app="BoundApp" ng-controller="MainController">
        <header>
            <section class="container-fluid">{% block header %}{% endblock %}</section>
        </header>

        <section id="main" class="container-fluid">{% block main %}{% endblock %}</section>

        <footer>
            <section class="container-fluid">{% block footer %}{% endblock %}</section>
        </footer>

        {% block javascripts %}{% endblock %}
    </body>
</html>
